In [2]:
'''
@Author: Subhadeep Bhattacharjee
@Date: 2022-01-26 16:00
@Title: Performing some queries on test data.

'''

'\n@Author: Subhadeep Bhattacharjee\n@Date: 2022-01-26 16:00\n@Title: Visualisation of some queries on cpu log data\n\n'

In [3]:
from pyhive import hive
import pandas as pd

In [4]:
conn = hive.Connection(host="localhost", port=10000)
cursor = conn.cursor()
try:
    cursor.execute("CREATE DATABASE student")
    print("Database created successfully!")

except Exception as e:
    print(e)

Database created successfully!

In [5]:
try:
    cursor.execute("use student")
    cursor.execute("CREATE TABLE stu_details(Name string, Roll_No int, Class int, Age int)row format delimited fields terminated by ',' stored as textfile location '/hd/' tblproperties('skip.header.line.count'='1')")
    print("Table created successfully!")
    result = cursor.fetchall()
    for i in result:
        print(i)

except Exception as e:
    print(e)

try:
    df= pd.read_sql("Select * from stu_details where Age > 15",conn)
    print("Select using where clause.")
    print(df)

except Exception as e:
    print(e)

Table created successfully!
No result set
Select using where clause.
  stu_details.name  stu_details.roll_no  stu_details.class  stu_details.age
0           Donald                    1                 12               19
1          Champak                    2                 12               18
2            Shyam                    3                 11               17

In [6]:
try: 
    cursor.execute("Select Name, Class from stu_details sort by Class")
    print("Sorting")
    result = cursor.fetchall()
    for i in result:
        print(i)

except Exception as e:
    print(e)

Sorting
('Anirudh', 8)
('Subham', 8)
('Ron', 9)
('Rahul', 9)
('Shyam', 11)
('Champak', 12)
('Donald', 12)